PORT=4000
NODE_ENV=development
DB_CLIENT=postgres
PGHOST=localhost
PGPORT=5434
PGUSER=valetec_user
PGPASSWORD=valetec_secure_password_2026
PGDATABASE=valetec_pharma
JWT_SECRET=valetec_pharma_secret_jwt_2026_super_secure
CORS_ORIGIN=*
