PORT=4000
NODE_ENV=development
DB_CLIENT=postgres
PGHOST=localhost
PGPORT=5434
PGUSER=valetec_user
PGPASSWORD=valetec_secure_password_2026
PGDATABASE=valetec_pharma
JWT_SECRET=your_super_secret_jwt_key
CORS_ORIGIN=*

# Facturación Electrónica SUNAT UBL 2.1
SUNAT_ENV=beta
SUNAT_USER=20601234567MODDATOS
SUNAT_PASS=moddatos
CERT_PFX_PATH=./certs/certificate_demo.pfx
CERT_PASSWORD=demo_password_2026
SUNAT_ENDPOINT_BETA=https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService
SUNAT_ENDPOINT_PROD=https://e-factura.sunat.gob.pe/ol-ti-itcpfegem/billService

# Pasarelas de Pago POS (Webhooks Niubiz / Izipay)
POS_WEBHOOK_SECRET=valetec_pos_webhook_secret_key_2026_xyz
